@media (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        background: url(../IMG/mobile/Star\ 4.svg) top 580px left 304px/39px 41px no-repeat,
                    url(../IMG/mobile/Star\ 5.svg) top 557px left 273px/18px no-repeat,
                    url(../IMG/mobile/Star\ 2.svg) top 97px left 38px/35px no-repeat,
                    url(../IMG/mobile/Star\ 3.svg) top 64px left 92px/21px no-repeat,
                    url(../IMG/mobile/big\ star.svg)  top -100px right -110px/ 223px 238px no-repeat,
                    url(../IMG/mobile/mob__test.png)  right/100% no-repeat;
                    
        
        
    
    
      
        height: 700px ;
        
        
       
    &__content{
    
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24;
        padding-bottom: 32px;
        padding-left: 0px;
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 147px;
    }
    &__subtitle{
         max-width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }
    &__btn{
        width: 285px;
        height: 55px;
        font-size:16px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
    }
}
.for-games{
    display: none;
}
.mini-games{
    background-color: rgb(32, 32, 39) ;
    max-width: 767px;

    &-box{
        align-items: center;
        row-gap: 24px;
        padding-bottom: 48px;
    }
    &-title{
        font-size: 40px;
        line-height: 49px;
        align-items: start;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    &__card{
        width:100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        
    
    
    }
}
.mini-games__card-img{
    width: 100%;

}
.mini-games__card-title{
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}
.mini-games__card-info{
font-size: 16px;
font-weight: 400;
line-height: 20px;
}

.mini-games__card-content{
    row-gap: 16px;
    padding: 16px 28px 16px 28px;
}
.mini-games__card-form-btn{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    
    
    

}
.mini-games__card-form-btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

    .top__btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    }
  
    
.footer__content{
    padding-top: 40px;
    padding-bottom:40px ;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.separator{
    display: none;
}

    
    
}

