*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    background-image: url(../IMG/top__img.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    &__content{
        display: flex;
        flex-direction:column;
        row-gap: 24px;
        justify-content: start;
        align-items: start;
    }
    &__title{
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 769px;
        padding-top: 169px;
        
    }
    &__subtitle{
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 769px;

    }
    &__btn{
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
    &__btn:hover{
        color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        background:rgb(255, 255, 255);
        cursor: pointer;
    }
    
}
@import 'for__games';