html {
  scroll-behavior: smooth;
}

a {
  list-style-type: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: grey;
  padding-bottom: 30px;
}

.contaner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.container__btn {
  border-radius: 20px;
  border: solid 2px black;
  width: 600px;
  height: 100px;
  cursor: pointer;
  background-color: antiquewhite;
  font-size: 1, 5rem;
}

.container__title {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.container__form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__reg-form {
  border-radius: 10px;
  border: 1px solid black;
  width: 400px;
  height: 50px;
  padding-left: 16px;
}
.container__reg-form:hover {
  background-color: burlywood;
}

.container__reg-form::-moz-placeholder {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.container__reg-form::placeholder {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.container__reg-btn {
  border-radius: 10px;
  border: 1px solid black;
  width: 400px;
  height: 50px;
  cursor: pointer;
}
.container__reg-btn:hover {
  background-color: burlywood;
}

/*    Header */
.header {
  background-color: black;
  height: 120px;
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.header__menu-link {
  text-align: center;
  font-style: bold;
  color: white;
  list-style-type: none;
  text-decoration-style: none;
  border: 1px;
  border-radius: 20px;
  background: grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 2s;
}
.header__menu-link:hover {
  color: black;
  background-color: burlywood;
}

.header__title {
  padding-top: 10px;
  color: white;
  text-align: center;
}

.change__text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.change__text-title {
  font-size: 24px;
}
.change__text-btn {
  text-transform: lowercase;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  width: 400px;
  height: 50px;
}
.change__text-btn:hover {
  text-transform: uppercase;
  transform: translateX(20px) scale(1.05);
}

.description__box {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.description__box-content {
  font-size: 20px;
}

.descriprion__box-btn {
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

#padding {
  padding-bottom: 20px;
}

.p__box {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: rgb(102, 102, 114);
  width: 300px;
  border: 5px black solid;
  border-radius: 10px;
}

.createEl-btn {
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

.createElem {
  font-size: 400px;
}

.remove__box {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}
.remove__box-p {
  font-size: 20px;
  border: 1px solid black;
  padding: 50px;
  border-radius: 10px;
}

.remove__box-btn {
  width: 200px;
  height: 80px;
  font-size: 20px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.remove__box-click {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}/*# sourceMappingURL=testscript.css.map */